In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ArunSol1').master('yarn').getOrCreate()

In [3]:
spark.sql('use indirameduri')

DataFrame[]

In [4]:
orderItemDF= spark.read.table('order_items')
orderItemDF.show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|                  1|                  957|                  1|             299.98|                  299.98|
|            2|                  2|                 1073|                  1|             199.99|                  199.99|
|            3|                  2|                  502|                  5|              250.0|                    50.0|
|            4|                  2|                  403|                  1|             129.99|                  129.99|
|            5|                  4|                  897|                  2|              49.98|                   24.99|
|            6|                  4|                  365|                  5|             299.95|                   59.99|
|            7|                  4|                  502|                  3|              150.0|                    50.0|
|            8|                  4|                 1014|                  4|             199.92|                   49.98|
|            9|                  5|                  957|                  1|             299.98|                  299.98|
|           10|                  5|                  365|                  5|             299.95|                   59.99|
|           11|                  5|                 1014|                  2|              99.96|                   49.98|
|           12|                  5|                  957|                  1|             299.98|                  299.98|
|           13|                  5|                  403|                  1|             129.99|                  129.99|
|           14|                  7|                 1073|                  1|             199.99|                  199.99|
|           15|                  7|                  957|                  1|             299.98|                  299.98|
|           16|                  7|                  926|                  5|              79.95|                   15.99|
|           17|                  8|                  365|                  3|             179.97|                   59.99|
|           18|                  8|                  365|                  5|             299.95|                   59.99|
|           19|                  8|                 1014|                  4|             199.92|                   49.98|
|           20|                  8|                  502|                  1|               50.0|                    50.0|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

In [42]:
ordersDF=spark.read.csv('/public/retail_db/orders').toDF('order_id' ,'order_date','order_cust_id','order_status')
ordersDF.show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|
|       6|2013-07-25 00:00:...|         7130|       COMPLETE|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|
|       9|2013-07-25 00:00:...|         5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|         5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|          918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|         1837|         CLOSED|
|      13|2013-07-25 00:00:...|         9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|         9842|     PROCESSING|
|      15|2013-07-25 00:00:...|         2568|       COMPLETE|
|      16|2013-07-25 00:00:...|         7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|         2667|       COMPLETE|
|      18|2013-07-25 00:00:...|         1205|         CLOSED|
|      19|2013-07-25 00:00:...|         9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|         9198|     PROCESSING|
+--------+--------------------+-------------+---------------+
only showing top 20 rows

In [65]:
from pyspark.sql.types import *
ordersDF.printSchema()
ordersDF.withColumn('order_date',ordersDF.order_date.cast(LongType()))

root
 |-- order_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_cust_id: string (nullable = true)
 |-- order_status: string (nullable = true)

DataFrame[order_id: string, order_date: bigint, order_cust_id: string, order_status: string]

In [66]:

joinedOrderDataDF = ordersDF.join(orderItemDF,ordersDF.order_id==orderItemDF.order_item_order_id)

joinedOrderDataDF.createOrReplaceTempView('order_joined')
joinedOrderDataDF.show()

+--------+--------------------+-------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_id|          order_date|order_cust_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+--------+--------------------+-------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|            1|                  1|                  957|                  1|             299.98|                  299.98|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            2|                  2|                 1073|                  1|             199.99|                  199.99|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            3|                  2|                  502|                  5|              250.0|                    50.0|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            4|                  2|                  403|                  1|             129.99|                  129.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            5|                  4|                  897|                  2|              49.98|                   24.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            6|                  4|                  365|                  5|             299.95|                   59.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            7|                  4|                  502|                  3|              150.0|                    50.0|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            8|                  4|                 1014|                  4|             199.92|                   49.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|            9|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           10|                  5|                  365|                  5|             299.95|                   59.99|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           11|                  5|                 1014|                  2|              99.96|                   49.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           12|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           13|                  5|                  403|                  1|             129.99|                  129.99|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|           14|                  7|                 1073|                  1|             199.99|                  199.99|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|           15|                  7|                  957|                  1|             299.98|                  299.98|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|           16|                  7|                  926|                  5|              79.95|                   15.99|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           17|                  8|                  365|                  3|             179.97|                   59.99|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           18|                  8|                  365|                  5|             299.95|                   59.99|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           19|                  8|                 1014|                  4|             199.92|                   49.98|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           20|                  8|                  502|                  1|               50.0|                    50.0|
+--------+--------------------+-------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

In [67]:
spark.sql('desc order_joined').show(truncate=False)
joinedOrderDataDF.show()

+------------------------+---------+-------+
|col_name                |data_type|comment|
+------------------------+---------+-------+
|order_id                |string   |null   |
|order_date              |string   |null   |
|order_cust_id           |string   |null   |
|order_status            |string   |null   |
|order_item_id           |int      |null   |
|order_item_order_id     |int      |null   |
|order_item_product_id   |int      |null   |
|order_item_quantity     |tinyint  |null   |
|order_item_subtotal     |double   |null   |
|order_item_product_price|double   |null   |
+------------------------+---------+-------+

+--------+--------------------+-------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_id|          order_date|order_cust_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+--------+--------------------+-------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|            1|                  1|                  957|                  1|             299.98|                  299.98|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            2|                  2|                 1073|                  1|             199.99|                  199.99|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            3|                  2|                  502|                  5|              250.0|                    50.0|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            4|                  2|                  403|                  1|             129.99|                  129.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            5|                  4|                  897|                  2|              49.98|                   24.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            6|                  4|                  365|                  5|             299.95|                   59.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            7|                  4|                  502|                  3|              150.0|                    50.0|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            8|                  4|                 1014|                  4|             199.92|                   49.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|            9|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           10|                  5|                  365|                  5|             299.95|                   59.99|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           11|                  5|                 1014|                  2|              99.96|                   49.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           12|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|           13|                  5|                  403|                  1|             129.99|                  129.99|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|           14|                  7|                 1073|                  1|             199.99|                  199.99|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|           15|                  7|                  957|                  1|             299.98|                  299.98|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|           16|                  7|                  926|                  5|              79.95|                   15.99|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           17|                  8|                  365|                  3|             179.97|                   59.99|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           18|                  8|                  365|                  5|             299.95|                   59.99|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           19|                  8|                 1014|                  4|             199.92|                   49.98|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|           20|                  8|                  502|                  1|               50.0|                    50.0|
+--------+--------------------+-------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

In [68]:
from pyspark.sql.functions import *
sqlResult = spark.sql("select to_date(from_unixtime(cast(order_date/1000 as bigint))) as order_formatted_date, order_status, cast(sum(order_item_subtotal) as DECIMAL (10,2)) as total_amount, count(distinct(order_id)) as total_orders from order_joined group by to_date(from_unixtime(cast(order_date/1000 as bigint))), order_status order by order_formatted_date desc,order_status,total_amount desc, total_orders");

In [69]:
sqlResult.show()

+--------------------+---------------+------------+------------+
|order_formatted_date|   order_status|total_amount|total_orders|
+--------------------+---------------+------------+------------+
|                null|       CANCELED|   696030.99|        1194|
|                null|         CLOSED|  3736048.79|        6301|
|                null|       COMPLETE| 11276933.69|       18965|
|                null|        ON_HOLD|  1864731.24|        3193|
|                null| PAYMENT_REVIEW|   357841.45|         608|
|                null|        PENDING|  3851881.28|        6385|
|                null|PENDING_PAYMENT|  7581671.05|       12581|
|                null|     PROCESSING|  4190636.76|        6900|
|                null|SUSPECTED_FRAUD|   766844.68|        1304|
+--------------------+---------------+------------+------------+