In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('yarn').appName('InactiveCustomers').getOrCreate()

In [3]:
customers= spark.read.csv('/public/retail_db/customers',inferSchema=True).toDF('customer_id','Fname','Lname','email','password','street','city','state','zipcode')

In [13]:
customers.show()
customers.count()

+-----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|customer_id|      Fname|    Lname|    email| password|              street|         city|state|zipcode|
+-----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
|          1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|
|          2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|
|          3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|
|          4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|          5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|
|          6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|
|          7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|
|          8|      Megan|    Smith|XXXXXXXXX|XXXXXXXXX|3047 Foggy Forest...|     Lawrence|   MA|   1841|
|          9|       Mary|    Perez|XXXXXXXXX|XXXXXXXXX| 3616 Quaking Street|       Caguas|   PR|    725|
|         10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|         11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|
|         12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|         13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|
|         14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|         15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|         16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|
|         17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|         18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|         19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|
|         20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|
+-----------+-----------+---------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

12435

In [5]:
orders = spark.read.csv('/public/retail_db/orders',inferSchema=True).toDF('order_id','order_date','order_cust_id','order_status')

In [14]:
orders.show()
orders.count()

+--------+-------------------+-------------+---------------+
|order_id|         order_date|order_cust_id|   order_status|
+--------+-------------------+-------------+---------------+
|       1|2013-07-25 00:00:00|        11599|         CLOSED|
|       2|2013-07-25 00:00:00|          256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:00|        12111|       COMPLETE|
|       4|2013-07-25 00:00:00|         8827|         CLOSED|
|       5|2013-07-25 00:00:00|        11318|       COMPLETE|
|       6|2013-07-25 00:00:00|         7130|       COMPLETE|
|       7|2013-07-25 00:00:00|         4530|       COMPLETE|
|       8|2013-07-25 00:00:00|         2911|     PROCESSING|
|       9|2013-07-25 00:00:00|         5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:00|         5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:00|          918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:00|         1837|         CLOSED|
|      13|2013-07-25 00:00:00|         9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:00|         9842|     PROCESSING|
|      15|2013-07-25 00:00:00|         2568|       COMPLETE|
|      16|2013-07-25 00:00:00|         7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:00|         2667|       COMPLETE|
|      18|2013-07-25 00:00:00|         1205|         CLOSED|
|      19|2013-07-25 00:00:00|         9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:00|         9198|     PROCESSING|
+--------+-------------------+-------------+---------------+
only showing top 20 rows

68883

In [ ]:
#joins with DF

In [31]:
customers.join(orders,customers.customer_id == orders.order_cust_id,"LeftAnti").show(truncate=False)

+-----------+-------+--------+---------+---------+----------------------------+-------------------+-----+-------+
|customer_id|Fname  |Lname   |email    |password |street                      |city               |state|zipcode|
+-----------+-------+--------+---------+---------+----------------------------+-------------------+-----+-------+
|219        |Mary   |Harrell |XXXXXXXXX|XXXXXXXXX|9016 Foggy Robin Expressway |Denver             |CO   |80219  |
|339        |Mary   |Greene  |XXXXXXXXX|XXXXXXXXX|4271 Hazy Close             |Long Beach         |CA   |90805  |
|469        |Randy  |Smith   |XXXXXXXXX|XXXXXXXXX|252 Golden Goose Loop       |South San Francisco|CA   |94080  |
|1187       |Dorothy|Vazquez |XXXXXXXXX|XXXXXXXXX|363 Green Goose Run         |Danbury            |CT   |6810   |
|1481       |Grace  |Smith   |XXXXXXXXX|XXXXXXXXX|2171 Clear Lake Isle        |Caguas             |PR   |725    |
|1808       |Albert |Ellison |XXXXXXXXX|XXXXXXXXX|9795 Heather Wynd           |Billings           |MT   |59102  |
|2073       |Donna  |Stephens|XXXXXXXXX|XXXXXXXXX|9792 Cozy Corners           |Sunnyvale          |CA   |94087  |
|2096       |Jose   |Tanner  |XXXXXXXXX|XXXXXXXXX|8976 Old Hickory Landing    |Bronx              |NY   |10467  |
|2450       |James  |Smith   |XXXXXXXXX|XXXXXXXXX|4063 Little Creek Court     |Newark             |DE   |19702  |
|4555       |Mary   |Smith   |XXXXXXXXX|XXXXXXXXX|5455 Red Lagoon Maze        |Caguas             |PR   |725    |
|4927       |Carolyn|Green   |XXXXXXXXX|XXXXXXXXX|7550 Sleepy View Court      |Caguas             |PR   |725    |
|6072       |Stephen|Smith   |XXXXXXXXX|XXXXXXXXX|849 Noble Apple Private     |Malden             |MA   |2148   |
|6613       |Ashley |Smith   |XXXXXXXXX|XXXXXXXXX|9847 Dusty Horse Corner     |Caguas             |PR   |725    |
|7011       |Kevin  |Smith   |XXXXXXXXX|XXXXXXXXX|1915 Thunder Hickory Freeway|Wyandotte          |MI   |48192  |
|7552       |Carl   |Smith   |XXXXXXXXX|XXXXXXXXX|9966 Cinder Loop            |Howell             |MI   |48843  |
|8243       |Gary   |Walker  |XXXXXXXXX|XXXXXXXXX|2447 Stony Barn Street      |New York           |NY   |10128  |
|8343       |Mary   |Bolton  |XXXXXXXXX|XXXXXXXXX|7302 Sunny Valley           |Caguas             |PR   |725    |
|8575       |Mary   |Mueller |XXXXXXXXX|XXXXXXXXX|9714 Emerald Bear Lookout   |Caguas             |PR   |725    |
|8778       |Mary   |Smith   |XXXXXXXXX|XXXXXXXXX|4015 Tawny Rise Crescent    |Caguas             |PR   |725    |
|8882       |Kenneth|Smith   |XXXXXXXXX|XXXXXXXXX|6754 Iron Leaf Line         |Hickory            |NC   |28601  |
+-----------+-------+--------+---------+---------+----------------------------+-------------------+-----+-------+
only showing top 20 rows

**Spark Sql Joins**

In [7]:
customers.createOrReplaceTempView('customers')

In [8]:
orders.createOrReplaceTempView('orders')

In [21]:
data=spark.sql("select * from customers c left anti join orders o on o.order_cust_id=c.customer_id")
data.show()

+-----------+-------+--------+---------+---------+--------------------+-------------------+-----+-------+
|customer_id|  Fname|   Lname|    email| password|              street|               city|state|zipcode|
+-----------+-------+--------+---------+---------+--------------------+-------------------+-----+-------+
|        219|   Mary| Harrell|XXXXXXXXX|XXXXXXXXX|9016 Foggy Robin ...|             Denver|   CO|  80219|
|        339|   Mary|  Greene|XXXXXXXXX|XXXXXXXXX|     4271 Hazy Close|         Long Beach|   CA|  90805|
|        469|  Randy|   Smith|XXXXXXXXX|XXXXXXXXX|252 Golden Goose ...|South San Francisco|   CA|  94080|
|       1187|Dorothy| Vazquez|XXXXXXXXX|XXXXXXXXX| 363 Green Goose Run|            Danbury|   CT|   6810|
|       1481|  Grace|   Smith|XXXXXXXXX|XXXXXXXXX|2171 Clear Lake Isle|             Caguas|   PR|    725|
|       1808| Albert| Ellison|XXXXXXXXX|XXXXXXXXX|   9795 Heather Wynd|           Billings|   MT|  59102|
|       2073|  Donna|Stephens|XXXXXXXXX|XXXXXXXXX|   9792 Cozy Corners|          Sunnyvale|   CA|  94087|
|       2096|   Jose|  Tanner|XXXXXXXXX|XXXXXXXXX|8976 Old Hickory ...|              Bronx|   NY|  10467|
|       2450|  James|   Smith|XXXXXXXXX|XXXXXXXXX|4063 Little Creek...|             Newark|   DE|  19702|
|       4555|   Mary|   Smith|XXXXXXXXX|XXXXXXXXX|5455 Red Lagoon Maze|             Caguas|   PR|    725|
|       4927|Carolyn|   Green|XXXXXXXXX|XXXXXXXXX|7550 Sleepy View ...|             Caguas|   PR|    725|
|       6072|Stephen|   Smith|XXXXXXXXX|XXXXXXXXX|849 Noble Apple P...|             Malden|   MA|   2148|
|       6613| Ashley|   Smith|XXXXXXXXX|XXXXXXXXX|9847 Dusty Horse ...|             Caguas|   PR|    725|
|       7011|  Kevin|   Smith|XXXXXXXXX|XXXXXXXXX|1915 Thunder Hick...|          Wyandotte|   MI|  48192|
|       7552|   Carl|   Smith|XXXXXXXXX|XXXXXXXXX|    9966 Cinder Loop|             Howell|   MI|  48843|
|       8243|   Gary|  Walker|XXXXXXXXX|XXXXXXXXX|2447 Stony Barn S...|           New York|   NY|  10128|
|       8343|   Mary|  Bolton|XXXXXXXXX|XXXXXXXXX|   7302 Sunny Valley|             Caguas|   PR|    725|
|       8575|   Mary| Mueller|XXXXXXXXX|XXXXXXXXX|9714 Emerald Bear...|             Caguas|   PR|    725|
|       8778|   Mary|   Smith|XXXXXXXXX|XXXXXXXXX|4015 Tawny Rise C...|             Caguas|   PR|    725|
|       8882|Kenneth|   Smith|XXXXXXXXX|XXXXXXXXX| 6754 Iron Leaf Line|            Hickory|   NC|  28601|
+-----------+-------+--------+---------+---------+--------------------+-------------------+-----+-------+
only showing top 20 rows

In [32]:
spark.stop()