In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').master('yarn').enableHiveSupport().getOrCreate()

In [ ]:
l = [('Alice',1)]
spark.createDataFrame(l).collect()

In [ ]:
k=spark.createDataFrame(l)
k.show()

In [ ]:
k.take(1)

In [ ]:
d = [{'name':'Alice','age':'1'}]
spark.createDataFrame(d).collect()

In [ ]:
sc = spark.sparkContext.getOrCreate()
rdd = sc.parallelize(l)
spark.createDataFrame(rdd).collect()

In [ ]:
df = spark.createDataFrame(rdd,['name','age'])
df.collect()

In [ ]:
from pyspark.sql import Row
Person = Row('age','name')
person=rdd.map(lambda r: Person(*r))
df2 = spark.createDataFrame(person)
df2.collect()

In [ ]:
from pyspark.sql.types import *
schema = StructType([
    StructField("name",StringType(),True),
    StructField("age",IntegerType(),True)])
df3 = spark.createDataFrame(rdd,schema)
df3.collect()

In [ ]:
spark.createDataFrame(df.toPandas()).collect()

In [ ]:
import pandas
spark.createDataFrame(pandas.DataFrame([[1,2],[3,4]])).show()

In [ ]:
spark.createDataFrame(rdd,"a:string,b: int").show()

In [ ]:
spark.range(1,7,2).collect()

In [ ]:
spark.range(4).collect()

In [ ]:
df.show()
df.createOrReplaceTempView('table1')
df2= spark.sql('select name as f1, age as f2 from table1')
df2.show()

In [ ]:
df3 = spark.table("table1")
sorted(df2.collect()) == sorted(df3.collect())

In [ ]:
type(df3)

In [ ]:
strlen = spark.udf.register("stringlen",lambda x: len(x))
spark.sql('select stringlen("indira")').show()

In [ ]:
spark.sql("select 'foo' as text").select(strlen("text")).show()

In [ ]:
from pyspark.sql.types import IntegerType
_ = spark.udf.register("stringLengthInt", lambda x : len(x),IntegerType())
spark.sql("select stringLengthInt('test')").show()

In [ ]:
d = spark.read.csv('/public/retail_db/departments').toDF('dept_id','dept_name')
d.show()

In [ ]:
d.sort(d.dept_name).show()

In [ ]:
d.sort(d.dept_name.desc()).show()

In [ ]:
d.sort('dept_id').show()

In [ ]:
d.sort('dept_id',ascending=False).show()

In [ ]:
from pyspark.sql.functions import asc,desc
d.orderBy('dept_id').show()

In [ ]:
d.orderBy(asc('dept_name')).show()

In [ ]:
d.sort(desc('dept_name')).show()

In [ ]:
d.orderBy(['dept_id',d.dept_name],ascending = [1,0]).show()

In [ ]:
d.agg({"dept_id":"max"}).show()

In [ ]:
d.agg({"dept_id":"mean"}).show()

In [ ]:
from pyspark.sql import Row
sc = spark.sparkContext.getOrCreate()
df = sc.parallelize([ \
    Row(name='Alice', age=5, height=''), \
    Row(name='Alice', age='', height=80), \
    Row(name="", age=10, height=80)]).toDF()

In [ ]:
df.show()

In [ ]:
df.fillna(99).show()

In [ ]:
df.dtypes

In [ ]:
df.dropna().show()

In [ ]:
df.na.fill(88).show()

In [ ]:
df.head()

In [ ]:
d.show()

In [ ]:
d.write.format('json').mode('overwrite').save('/user/indirameduri/dept_json')

In [ ]:
dept_json = spark.read.json('/user/indirameduri/dept_json')

In [ ]:
dept_json.show()

In [ ]:
spark.sql('use indirameduri')

In [ ]:
spark.sql('show tables').show()

**Create JSON in Hive**

**add jar /usr/hdp/2.6.5.0-292/hive2/lib/hive-hcatalog-core-2.1.0.2.6.5.0-292.jar**

In [ ]:
spark.sql('use indirameduri')

**spark.sql('use indirameduri') \
spark.sql('''create table orderitems_json(order_item_order_id int,order_item_product_id int,order_item_quantity int, \
            order_item_subtotal float,order_item_product_price float) \
            ROW FORMAT SERDE 'org.apache.hive.hcatalog.data.JsonSerDe' \
            stored as textfile \
             location "/user/indirameduri/json/order_items"''').show()**

# points to remember for JSON
# use row format serde 'jar file'
# location 'hdfs path with folder only,no filename'
# **column names in .json file has to exactly match create table command along with datatypes and names!

**Create Hive Parquet**

In [ ]:
spark.sql('use indirameduri')
departments = spark.read.csv('/public/retail_db/departments',inferSchema=True).toDF('department_id','department_name')
departments.show()

**write to hive**

In [ ]:
departments.write.format('parquet').mode('overwrite').saveAsTable('departments')

In [ ]:

orders = spark.read.table('indirameduri.orders')
orders.show()

In [ ]:
orders.describe().show()

In [ ]:
orders.printSchema()

In [ ]:
orders.write.partitionBy('order_status').bucketBy(16,'order_id').saveAsTable('indirameduri.orders2')

In [ ]:
spark.sql('select * from orders1 limit 10').show()

In [ ]:
spark.sql('show tables').show()

In [ ]:
sc = spark.sparkContext.getOrCreate()

In [ ]:
rdd = sc.parallelize(range(1,10))
rdd.collect()

In [ ]:
evenRdd = rdd.filter(lambda x:x%2==0)
evenRdd.collect()

In [ ]:
oddRdd = rdd.filter(lambda y:y%2!=0)
oddRdd.collect()

In [ ]:
spark

In [ ]:
file1 = spark.read.json('/user/indirameduri/new/file1.json')
file1.show()

In [ ]:
file1.write.json('/user/indirameduri/new/file2.json')

hdfs dfs -getmerge -nl /user/indirameduri/employee/ file3 for merging file in source directory to destination local file

**append to existing table**

In [ ]:
departments.write.mode('append').saveAsTable('departments')

In [ ]:
spark.sql('select * from departments').show()

a = sc.parallelize(List("dog", "salmon", "salmon", "rat", "elephant"), 3)
val b = a.keyBy(_.length)
val c = sc.parallelize(Ust(
val d = c.keyBy(_.length) operation1

In [ ]:
a = sc.parallelize(list(["dog", "salmon", "salmon", "rat", "elephant"]),3)
a.collect()

In [ ]:
alen = a.map(lambda x: (len(x),x))
alen.collect()

In [ ]:
c = sc.parallelize(list(["dog","cat","gnu","salmon","rabbit","turkey","wolf","bear","bee"]), 3)
c.collect()

In [ ]:
clen=c.map(lambda x: (len(x),x))
clen.collect()

In [ ]:
a = sc.parallelize(range(1,100),3)
a.collect()

In [ ]:
file1 = spark.read.csv('/user/indirameduri/new/file4')
file1.show()

In [ ]:
file2 = spark.read.csv('/user/indirameduri/new/file5')
file2.show()

***Aggregations***

In [ ]:
orders = spark.read.csv('/public/retail_db/orders/',inferSchema=True).toDF('order_id','order_date','order_cust_id','order_status')
orders.show()
orders.printSchema()

In [ ]:
orders.createOrReplaceTempView('orders')

In [ ]:
spark.sql('select * from orders limit 10').show()

In [ ]:
orderItems = spark.read.csv('/public/retail_db/order_items',inferSchema=True).toDF('oi_id','oi_order_id','oi_product_id','oi_quantity','oi_subtotal','oi_price')
orderItems.show()
orderItems.printSchema()

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window
spec=Window.partitionBy(orderItems.oi_order_id)

In [ ]:
orderItems.withColumn('order_sum',sum(orderItems.oi_subtotal).over(spec)).show()

In [ ]:
orderItems. \
withColumn('order_sum',sum(orderItems.oi_subtotal).over(spec)). \
withColumn('order_max',max(orderItems.oi_subtotal).over(spec)). \
withColumn('order_min',min(orderItems.oi_subtotal).over(spec)). \
withColumn('order_avg',avg(orderItems.oi_subtotal).over(spec)). \
withColumn('order_count',count(orderItems.oi_subtotal).over(spec)). \
withColumn('order_count1',count(lit("1")).over(spec)). \
drop('oi_product_id','oi_quantity','oi_price'). \
orderBy('oi_order_id').show()

In [ ]:
orderItems.createOrReplaceTempView('orderitems')

In [ ]:
spark.sql('select oi_order_id,round(sum(oi_subtotal),2) sum from orderitems group by oi_order_id ').show()

In [ ]:
spark.sql('select round(sum(oi_subtotal),2) over(partition by oi_order_id) from orderitems').show()

In [ ]:
spark

In [ ]:
df = [['Thin','Cell Phone',6000],
      ['Normal','Tablet',1500],
      ['Mini','Tablet',5500],
      ['Ultra Thin','Cell Phone',5000],
      ['Very Thin','Cell Phone' ,6000],
      ['Big','Tablet',2500],
      ['Bendable','Cell Phone',3000],
      ['Foldable','Cell Phone',3000],
      ['Pro','Tablet',4500],
      ['Pro2','Tablet',6500]]
df = spark.createDataFrame(df).toDF('Product','Category','Revenue')

In [ ]:
df.show()

**What are the best-selling and the second best-selling products in every category?**

In [ ]:
df.createOrReplaceTempView('pr')

In [ ]:
spark.sql('select Category,max(Revenue) rev from pr group by Category order by rev desc limit 2').show()

In [ ]:
spark.sql('''select Product,Category,Revenue from (select Product,Category,Revenue,
            dense_rank() over(partition by Category order by Revenue desc) rank from pr) tmp where rank<=2''').show()

**What is the difference between the revenue of each product and \
the revenue of the best-selling product in the same category of that product?**

In [ ]:
import sys
from pyspark.sql.window import Window
import pyspark.sql.functions as f
windowSpec = Window.partitionBy(df.Category).orderBy(df.Revenue.desc()). \
                rangeBetween(-sys.maxsize,sys.maxsize)

In [ ]:
rev_diff = (f.max(df.Revenue).over(windowSpec)-df.Revenue)

In [ ]:
df.select('Product','Category','Revenue',rev_diff.alias('Rev Diff')).show()