In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName('practice3').master('yarn').getOrCreate()

In [3]:
spark

In [4]:
orders = spark.read.json('/public/retail_db_json/orders')
orders.show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [5]:
orders.dtypes

[('order_customer_id', 'bigint'),
 ('order_date', 'string'),
 ('order_id', 'bigint'),
 ('order_status', 'string')]

In [6]:
order_items = spark.read.csv('/public/retail_db/order_items',inferSchema=True). \
toDF('oi_id','oi_order_id','oi_product_id','oi_quantity','oi_subtotal','oi_produtprice')
order_items.show()

+-----+-----------+-------------+-----------+-----------+--------------+
|oi_id|oi_order_id|oi_product_id|oi_quantity|oi_subtotal|oi_produtprice|
+-----+-----------+-------------+-----------+-----------+--------------+
|    1|          1|          957|          1|     299.98|        299.98|
|    2|          2|         1073|          1|     199.99|        199.99|
|    3|          2|          502|          5|      250.0|          50.0|
|    4|          2|          403|          1|     129.99|        129.99|
|    5|          4|          897|          2|      49.98|         24.99|
|    6|          4|          365|          5|     299.95|         59.99|
|    7|          4|          502|          3|      150.0|          50.0|
|    8|          4|         1014|          4|     199.92|         49.98|
|    9|          5|          957|          1|     299.98|        299.98|
|   10|          5|          365|          5|     299.95|         59.99|
|   11|          5|         1014|          2|      99.96|         49.98|
|   12|          5|          957|          1|     299.98|        299.98|
|   13|          5|          403|          1|     129.99|        129.99|
|   14|          7|         1073|          1|     199.99|        199.99|
|   15|          7|          957|          1|     299.98|        299.98|
|   16|          7|          926|          5|      79.95|         15.99|
|   17|          8|          365|          3|     179.97|         59.99|
|   18|          8|          365|          5|     299.95|         59.99|
|   19|          8|         1014|          4|     199.92|         49.98|
|   20|          8|          502|          1|       50.0|          50.0|
+-----+-----------+-------------+-----------+-----------+--------------+
only showing top 20 rows

In [7]:
customers = spark.read.csv('/public/retail_db/customers').toDF('customer_id','customer_fname','customer_lname','customer_email', \
                                                              'customer_password','customer_street','customer_city','customer_state','customer_zipcode')
customers.show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|           00725|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|           00725|
|          6|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|3151 Sleepy Quail...|      Passaic|            NJ|           07055|
|          7|       Melissa|        Wilcox|     XXXXXXXXX|        XXXXXXXXX|9453 High Concession|       Caguas|            PR|           00725|
|          8|         Megan|         Smith|     XXXXXXXXX|        XXXXXXXXX|3047 Foggy Forest...|     Lawrence|            MA|           01841|
|          9|          Mary|         Perez|     XXXXXXXXX|        XXXXXXXXX| 3616 Quaking Street|       Caguas|            PR|           00725|
|         10|       Melissa|         Smith|     XXXXXXXXX|        XXXXXXXXX|8598 Harvest Beac...|     Stafford|            VA|           22554|
|         11|          Mary|       Huffman|     XXXXXXXXX|        XXXXXXXXX|    3169 Stony Woods|       Caguas|            PR|           00725|
|         12|   Christopher|         Smith|     XXXXXXXXX|        XXXXXXXXX|5594 Jagged Ember...|  San Antonio|            TX|           78227|
|         13|          Mary|       Baldwin|     XXXXXXXXX|        XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|            PR|           00725|
|         14|     Katherine|         Smith|     XXXXXXXXX|        XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|            CA|           90660|
|         15|          Jane|          Luna|     XXXXXXXXX|        XXXXXXXXX|    673 Burning Glen|      Fontana|            CA|           92336|
|         16|       Tiffany|         Smith|     XXXXXXXXX|        XXXXXXXXX|      6651 Iron Port|       Caguas|            PR|           00725|
|         17|          Mary|      Robinson|     XXXXXXXXX|        XXXXXXXXX|     1325 Noble Pike|       Taylor|            MI|           48180|
|         18|        Robert|         Smith|     XXXXXXXXX|        XXXXXXXXX|2734 Hazy Butterf...|     Martinez|            CA|           94553|
|         19|     Stephanie|      Mitchell|     XXXXXXXXX|        XXXXXXXXX|3543 Red Treasure...|       Caguas|            PR|           00725|
|         20|          Mary|         Ellis|     XXXXXXXXX|        XXXXXXXXX|      4703 Old Route|West New York|            NJ|           07093|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [8]:
departments = spark.read.csv('/public/retail_db/departments').toDF('dept_id','dept_name')
departments.show()

+-------+---------+
|dept_id|dept_name|
+-------+---------+
|      2|  Fitness|
|      3| Footwear|
|      4|  Apparel|
|      5|     Golf|
|      6| Outdoors|
|      7| Fan Shop|
+-------+---------+

In [9]:
products = spark.read.csv('/public/retail_db/products'). \
toDF('product_id','prod_category_id','product_name','product_desc','product_price','product_image')
products.show()

+----------+----------------+--------------------+------------+-------------+--------------------+
|product_id|prod_category_id|        product_name|product_desc|product_price|       product_image|
+----------+----------------+--------------------+------------+-------------+--------------------+
|         1|               2|Quest Q64 10 FT. ...|        null|        59.98|http://images.acm...|
|         2|               2|Under Armour Men'...|        null|       129.99|http://images.acm...|
|         3|               2|Under Armour Men'...|        null|        89.99|http://images.acm...|
|         4|               2|Under Armour Men'...|        null|        89.99|http://images.acm...|
|         5|               2|Riddell Youth Rev...|        null|       199.99|http://images.acm...|
|         6|               2|Jordan Men's VI R...|        null|       134.99|http://images.acm...|
|         7|               2|Schutt Youth Recr...|        null|        99.99|http://images.acm...|
|         8|               2|Nike Men's Vapor ...|        null|       129.99|http://images.acm...|
|         9|               2|Nike Adult Vapor ...|        null|         50.0|http://images.acm...|
|        10|               2|Under Armour Men'...|        null|       129.99|http://images.acm...|
|        11|               2|Fitness Gear 300 ...|        null|       209.99|http://images.acm...|
|        12|               2|Under Armour Men'...|        null|       139.99|http://images.acm...|
|        13|               2|Under Armour Men'...|        null|        89.99|http://images.acm...|
|        14|               2|Quik Shade Summit...|        null|       199.99|http://images.acm...|
|        15|               2|Under Armour Kids...|        null|        59.99|http://images.acm...|
|        16|               2|Riddell Youth 360...|        null|       299.99|http://images.acm...|
|        17|               2|Under Armour Men'...|        null|       129.99|http://images.acm...|
|        18|               2|Reebok Men's Full...|        null|        29.97|http://images.acm...|
|        19|               2|Nike Men's Finger...|        null|       124.99|http://images.acm...|
|        20|               2|Under Armour Men'...|        null|       129.99|http://images.acm...|
+----------+----------------+--------------------+------------+-------------+--------------------+
only showing top 20 rows

**File Formats and Compressions**

**1. Top N orders for the day based on order revenue**

In [10]:
#df methods top 5
joins = orders.join(order_items,orders.order_id==order_items.oi_order_id). \
groupBy(date_format('order_date','EEE')).agg(round(sum('oi_subtotal'),2).alias('Revenue'))
joins.show()

+----------------------------+----------+
|date_format(order_date, EEE)|   Revenue|
+----------------------------+----------+
|                         Sun| 4846988.5|
|                         Mon|4558745.38|
|                         Thu|4977875.18|
|                         Sat|4946465.98|
|                         Wed|4904572.31|
|                         Fri|5172864.23|
|                         Tue|4915108.35|
+----------------------------+----------+

In [11]:
joins = orders.join(order_items,orders.order_id==order_items.oi_order_id). \
groupBy('order_date').agg(round(sum('oi_subtotal'),2).alias('Revenue'))
joins.show()

+--------------------+---------+
|          order_date|  Revenue|
+--------------------+---------+
|2013-08-13 00:00:...| 39874.52|
|2013-10-12 00:00:...| 82006.54|
|2013-11-15 00:00:...| 68376.09|
|2014-03-19 00:00:...| 66732.76|
|2014-04-26 00:00:...|119101.07|
|2013-09-16 00:00:...| 56720.41|
|2013-09-20 00:00:...| 82662.51|
|2013-12-31 00:00:...|123799.52|
|2013-09-06 00:00:...|140273.12|
|2014-06-15 00:00:...| 61027.73|
|2013-12-24 00:00:...| 89744.21|
|2014-01-07 00:00:...| 84361.59|
|2014-06-07 00:00:...| 98239.16|
|2013-10-14 00:00:...| 61613.75|
|2013-11-11 00:00:...|114429.75|
|2014-01-27 00:00:...| 72634.57|
|2014-01-29 00:00:...| 87500.16|
|2014-02-14 00:00:...| 79936.26|
|2014-04-15 00:00:...|104220.93|
|2014-04-22 00:00:...| 75229.12|
+--------------------+---------+
only showing top 20 rows

In [12]:
rnk= joins.withColumn('rnk',dense_rank().over(Window.partitionBy('order_date').orderBy(desc('Revenue'))))
rnk.show()

+--------------------+---------+---+
|          order_date|  Revenue|rnk|
+--------------------+---------+---+
|2013-08-13 00:00:...| 39874.52|  1|
|2013-10-12 00:00:...| 82006.54|  1|
|2013-11-15 00:00:...| 68376.09|  1|
|2014-03-19 00:00:...| 66732.76|  1|
|2014-04-26 00:00:...|119101.07|  1|
|2013-09-16 00:00:...| 56720.41|  1|
|2013-09-20 00:00:...| 82662.51|  1|
|2013-12-31 00:00:...|123799.52|  1|
|2013-09-06 00:00:...|140273.12|  1|
|2014-06-15 00:00:...| 61027.73|  1|
|2013-12-24 00:00:...| 89744.21|  1|
|2014-01-07 00:00:...| 84361.59|  1|
|2014-06-07 00:00:...| 98239.16|  1|
|2013-10-14 00:00:...| 61613.75|  1|
|2013-11-11 00:00:...|114429.75|  1|
|2014-01-27 00:00:...| 72634.57|  1|
|2014-01-29 00:00:...| 87500.16|  1|
|2014-02-14 00:00:...| 79936.26|  1|
|2014-04-15 00:00:...|104220.93|  1|
|2014-04-22 00:00:...| 75229.12|  1|
+--------------------+---------+---+
only showing top 20 rows

In [13]:
spark.stop()